.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.2s, box-shadow 02s;
}

.card:hover{
    transform:  translateY(-4px);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

header {
    background-color: blueviolet; 
    color: #fff;
}

footer {
    background-color: blueviolet;
    color: #fff;
}